@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif; }

html, body {
  margin: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background: #050817;
  color: white; }

#shops {
  min-height: 100vh; }

#camera {
  position: fixed;
  top: .5rem;
  right: .5rem;
  width: 3rem;
  height: 3rem;
  display: block;
  z-index: 130; }
  #camera #mainCamera {
    width: 100%;
    height: 100%;
    position: absolute; }
  #camera #cameraShadow {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(1rem); }

#slogan {
  color: #ffd32f;
  font-size: 2.5rem;
  right: -100%;
  display: inline-block;
  position: fixed;
  top: .5rem; }

#shops-wrapper {
  position: relative;
  height: calc(600vw + 100vh); }

#take-photo {
  height: 55vh;
  position: relative; }

footer {
  height: 45vh;
  position: relative;
  padding: 1.5rem;
  color: #050817;
  background: #ffd32f; }
  footer h3 {
    margin-bottom: 0;
    font-weight: 900;
    font-size: 1.5rem; }
  footer p {
    margin-top: 0;
    opacity: 0.9;
    font-weight: 100;
    font-size: .9rem; }
