@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root{
  width: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #050817;
  font-size: 16px;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  color: white;
  font-family: 'Noto Serif TC', serif;
}

.App{
  min-height: 200vh;
}